.word {
    font-size: 80px;
}

.correct-btn {
    margin-top: 50px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 75px;

}

.pass-btn {
    margin-top: 50px;
    margin-left: 50px;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 75px;
}

.correct-btn:hover {
    background-color: lightgreen;
    width: 130px;
    height: 65px;
}

.pass-btn:hover {
    background-color: lightcoral;
    width: 130px;
    height: 65px;
}