.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #333; /* Dark grey background color */
  color: white; /* Text color */
  padding: 20px; /* Padding around the content */
}

.navbar {
  background-color: #333; /* Background color for the navbar */
  color: white; /* Text color */
  padding: 10px; /* Padding inside the navbar */
  position: fixed; /* Fix the navbar at the top of the screen */
  top: 0; /* Position at the top of the screen */
  width: 100%; /* Full width */
}

.navbar ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.navbar ul li {
  display: inline; /* Display list items inline */
  margin-right: 20px; /* Add margin between list items */
}

.navbar ul li Link {
  color: white; /* Link text color */
  text-decoration: none; /* Remove underline */
  font-size: 18px; /* Font size */
}

.navbar ul li Link:hover {
  color: lightgray; /* Change text color on hover */
}

.link {
  color: white; /* Link text color */
  text-decoration: none; /* Remove underline */
  font-size: 18px; /* Font size */
}

.link:hover {
  color: lightgray; /* Change text color on hover */
}